#topHeader {
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	background-color: #404040;
	height: 80px;
	font-size: 50px;
	font-family: 'Orbitron';
	font-weight: bold;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#tittle {
	margin: 0 auto;
	position: absolute;
	top: 110px;
	left: 31%;
	font-size: 34px;
	color: ;
	font-family: 'Orbitron';
}

#img1 {
	margin: 0;
	position: absolute;
	top: 40%;
	left: 48%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

#price {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
}

#star {
  margin: 0;
  position: absolute;
  top: 63%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
}

#keyboardimg {
	width: 110%;
	height: 110%;
}

body {
	background-color: black;
}


#yeet {
	top: 50%
}

#click {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  font-style: italic;
}

#rick {
	height: 50px;
	width: 70px;
	margin: 0;
	position: absolute;
	top: 70%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 25px;
	font-family: 'PT Sans', sans-serif;
	font-style: oblique;
	font-style: bold;
	color: white;
	background-color: #000080;
}

#clickme {
	margin: 0;
  position: absolute;
  top: 73.5%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  font-style: italic;
}